<%= simple_form_for @vulnerability do |f| %>
<% if vulnerability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(vulnerability.errors.count, "error") %> prohibited this vulnerability from being saved:</h2>

    <ul>
    <% vulnerability.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div>
  <%= f.input :active %>
  <div class='inputs'>
  <h3> Inputs </h3>
  <div class='links'>
    <%= link_to_add_association 'add input', f, :inputs, partial: 'input_fields' %>
  </div>
  <%= f.simple_fields_for :inputs do |input| %>
    <%= render 'input_fields', :f => input %>
  <% end %>
  </div>
  <div class='outputs'>
  <h3> Outputs </h3>
  <div class='links'>
    <%= link_to_add_association 'add output', f, :outputs, partial: 'output_fields' %>
  </div>
  <%= f.simple_fields_for :outputs do |output| %>
    <%= render 'output_fields', :f => output %>
  <% end %>
  </div>
  <div class='requests'>
  <h3> Request </h3>
  <div class='links'>
    <%= link_to_add_association 'add request', f, :requests, partial: 'request_fields' %>
  </div>
  <%= f.simple_fields_for :requests do |request| %>
    <%= render 'request_fields', :f => request %>
  <% end %>
  </div>
  <h3> Categorias </h3>
  <%= f.association :category, prompt: "Choose a Category" %>


  <%= f.button :submit %>
</div>
<% end %>
