<div class='nested-fields'>
    <%= f.input :url %>
    <%= f.input :verb_http %>
    <%= f.input :headers %>
    <%= f.input :host %>
    <%= f.input :uri %>
    <%= f.input :response_body %>
    <%= f.input :response_headers %>
    <%= link_to_remove_association "remove request", f %>
</div>
